<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <style>
     body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url("../static/index.jpg"); /* Path to your background image */
    background-size: cover; /* Makes the image cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center center; /* Centers the image */
    background-attachment: fixed; /* Makes the background image fixed during scrolling */
}
</style>
</head>
<body background="../static/index.jpg" style="background-image:../static/index.jpg;background-size:fill;">
 
  <h2 align="center" style="color:white;font-size:100px;border:5px double black ;margin :100px ; background-color:cyan">Welcome to Chat bridge</h2> </ts>
 <table align="center"> <tr><td> <H2 Align="center"> <button onclick="window.location.href='/login'"  style="font-size:30px;background-color: cyan ;border: black double 5px;border-radius: 16px;padding: 16px;margin: 39px; align:center ;" align="center">Login  ===></button></h2></td>
   <td> <h2 align="center"><button onclick="window.location.href='/register'" style="font-size:30px;background-color: cyan ;border: black double 5px;border-radius: 16px;padding: 16px;margin: 39px; align:center ;" align="center ">Register    ===></button></td></tr></table>
</body>
</html>